@import "tailwindcss";
@plugin "@tailwindcss/typography";
@variant dark (&:is(.dark *));

:root {
  @theme {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-accent: var(--accent);
    --color-muted: var(--muted);
    --color-border: var(--border);

    --font-sans: var(--font-inter), sans-serif;
    --font-mono: var(--font-fira-code), monospace;
  }

  @layer base {
    :root {
      --background: #ffffff;
      --foreground: #09090b;
      --primary: #10b981;
      /* Hacker Green (Light mode muted) */
      --primary-foreground: #ffffff;
      --accent: #0ea5e9;
      /* Light Server Blue */
      --muted: #f4f4f5;
      --border: #e4e4e7;
    }

    .dark {
      --background: #09090b;
      --foreground: #ffffff;
      --primary: #10b981;
      --primary-foreground: #000000;
      --accent: #06b6d4;
      --muted: #27272a;
      --border: #27272a;

      /* Prose overrides for Dark Mode */
      --tw-prose-body: var(--foreground);
      --tw-prose-headings: var(--foreground);
      --tw-prose-lead: var(--foreground);
      --tw-prose-links: var(--primary);
      --tw-prose-bold: var(--foreground);
      --tw-prose-counters: var(--muted-foreground);
      --tw-prose-bullets: var(--foreground);
      --tw-prose-hr: var(--border);
      --tw-prose-quotes: var(--foreground);
      --tw-prose-quote-borders: var(--primary);
      --tw-prose-captions: var(--muted-foreground);
      --tw-prose-kbd: var(--foreground);
      --tw-prose-kbd-shadows: var(--foreground);
      --tw-prose-code: var(--foreground);
      --tw-prose-pre-code: var(--foreground);
      --tw-prose-pre-bg: var(--muted);
      --tw-prose-th-borders: var(--border);
      --tw-prose-td-borders: var(--border);
    }
  }

  @layer base {
    * {
      @apply border-border;
    }

    body {
      @apply bg-background text-foreground antialiased selection:bg-primary/30;
      /* Padding for Mobile Bottom Nav */
      @apply pb-24 lg:pb-0;
    }
  }

  /* Lenis Smooth Scroll Recommended Resets */
  html.lenis,
  html.lenis body {
    height: auto;
  }

  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }

  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }

  .lenis.lenis-stopped {
    overflow: hidden;
  }

  .lenis.lenis-smooth iframe {
    pointer-events: none;
  }

}